.about {
    background-color: #00b5b5; 
    background-image: url(/dist/img/about_background.png);
    background-position: top;
    background-repeat: no-repeat;

    &__wrapper {
        background-image: url(/dist/img/about_cup.png);
        background-repeat: no-repeat;
        background-position: 15 15;
        padding-top: 170px;
        padding-right: 60px;
        padding-bottom: 235px;

    }
    &__title {
        color: white;
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__paragraph {
        color: white;
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1.5em;

    }

}