.about {
    background-color: #00b5b5; 
    // background-image: url(../dist/img/about_background.png);
    background-image: url(../dist/img/about@x1.png);
    background-position: 11% 50%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1199px) {
        background-size: 45%;
        background-position: 4% 50%;
    }


    @media screen and (max-width: 991px) {
        background-size: 45%;
        background-position: 50% 99%;

    }

    @media screen and (max-width: 765px) {
        background-size: 45%;
        background-position: 49% 94%;
    }

    @media screen and (max-width: 575px) {
        background-size: 45%;
        background-position: 50% 91%;
    
    }


    &__wrapper {
        padding-top: 170px;
        padding-right: 60px;
        padding-bottom: 235px;

        @media screen and (max-width: 991px) {
            padding-top: 40px;
            padding-bottom: 301px;
        }

        @media screen and (max-width: 991px) {
            padding-right: 0px;
        }
        @media screen and (max-width: 575px) {
            padding-bottom: 250px;
            }
        
    }

    &__content {
        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }

    &__title {
        color: white;
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 16px;

        @media screen and (max-width:575px) {
            font-size: 60px;
            margin-bottom: 30px;
            
        }
    }

    &__paragraph {
        color: white;
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1.5em;

        @media screen and (max-width:575px) {
            padding: 0 15px;
            
        }

    }

}