mixin gallery
    .gallery#gallery
        .container.container--lg
            .gallery__header
                .row
                    .col-12.d-flex.flex-column.align-items-center
                        h2.gallery__heading Gallery
                        p.gallery__paragraph Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            
            .gallery__panel
                .row
                    .col-lg-8.col-md-6.mb-md-4.mb-sm-4.mb-4
                            .gallery__img-wrapper 
                                img.gallery__img(src="../dist/img/gallery01@x1.png", alt="pork on a plate")
                    .col-md-6.d-md-block.d-lg-none.mb-md-4.mb-sm-4.mb-4
                            .gallery__img-wrapper
                                img.gallery__img(src="../dist/img/gallery02@x1.png", alt="red peppers")
                    .col-lg-4.d-lg-block.d-xl-block.d-none
                        .row
                            .col-lg-12.mb-lg-4
                                .gallery__img-wrapper 
                                    img.gallery__img(src="../dist/img/gallery02@x1.png", alt="red peppers")
                            .col-lg-12.mb-lg-4
                                .gallery__img-wrapper 
                                    img.gallery__img(src="../dist/img/gallery03@x1.png", alt="peaches")
                .row
                    .col-md-6.d-md-block.d-lg-none.mb-md-4.mb-sm-4.mb-4
                        .gallery__img-wrapper 
                            img.gallery__img(src="../dist/img/gallery03@x1.png", alt="peaches")
                    .col-md-6.d-md-block.d-lg-none.d-none.mb-md-4.mb-sm-4.mb-4
                        .gallery__img-wrapper 
                            img.gallery__img(src="../dist/img/gallery04@x1.png", alt="two hands holding full bear glasses")
                .row
                    .col-lg-6.d-md-none.d-lg-block.mb-sm-4.mb-4
                        .gallery__img-wrapper 
                            img.gallery__img(src="../dist/img/gallery04@x1.png", alt="two hands holding full bear glasses")
                    .col-lg-6.col-md-6
                        .gallery__img-wrapper 
                            img.gallery__img(src="../dist/img/gallery05@x1.png", alt="wine poured from a bottle into a glass")
            .gallery__bottom                
                .row
                    .col-12.d-flex.justify-content-center
                        a.btn.btn--gallery(href="javascript:void(0)") VIEW MORE
            