.subscribe {

    background-image: url(../../dist/img/subscribeX1.png);
    background-position: 92% 50%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1199px) {
        background-size: 50%;
        background-position: 96% 50%;
    }

    @media screen and (max-width: 991px) {
        background-size: 50%;
        background-position: 98% 50%;
    }

    @media screen and (max-width: 765px) {
        background-size: 50%;
        background-position: 50% 105%;
    }

    @media screen and (max-width: 575px) {
        background-size: 50%;
        background-position: 50% 98%;
    
    }
    
    &__wrapper {
        padding-top: 140px;
        padding-bottom: 161px;

        @media screen and (max-width: 765px) {
        padding-top: 70px;
        padding-bottom: 198px;
        }

        @media screen and (max-width: 609px) {
        padding-bottom: 170px;

        }

        @media screen and (max-width: 575px) {
        padding-top: 70px;
        padding-bottom: 150px;
        }
    }

    &__title {
        color: #262626;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 22px;
        margin-left: -3px;

        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }

        @media screen and (max-width:575px) {
            padding: 0 15px;
        }
    }

    &__subtitle {
        color: #262626;
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 29px;
        line-height: 26px;
        margin-left: -5px;

        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }
        

        @media screen and (max-width:575px) {
            padding: 0 15px;
        }
    }

    &__input {
        max-width: 100%;
        width: 100%;
        border: 1px solid #262626;
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 400;
        padding: 18px 13px;
        margin-left: -2px;

        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }

        @media screen and (max-width: 765px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 575px) {
            padding: 10px;
        }

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }

        &:focus {
            border-left: 5px solid #96b92c;
            padding-left: 9px;
        }

    }

    &__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($color: #262626, $alpha: 0.5);
        font-family: "Raleway";
    }
    //   ::-moz-placeholder { /* Firefox 19+ */
    //     color: rgba($color: #262626, $alpha: 0.5);
    //     font-family: "Raleway";
    //   }
    //   :-ms-input-placeholder { /* IE 10+ */
    //     color: rgba($color: #262626, $alpha: 0.5);
    //     font-family: "Raleway";
    //   }
    //   :-moz-placeholder { /* Firefox 18- */
    //     color: rgba($color: #262626, $alpha: 0.5);
    //     font-family: "Raleway";
    //   }

}