mixin nav 
    .row
        .nav
            .nav__wrapper
                .nav__logo
                    svg.icons.icons--nav.nav__icon
                            use(xlink:href="#icon-logo")
                ul.nav__list
                    li.nav__item
                        a.nav__link(href='#') HOME
                    li.nav__item
                        a.nav__link(href='#') ABOUT
                    li.nav__item
                        a.nav__link(href='#') SERVICES
                    li.nav__item
                        a.nav__link(href='#') GALLERY
                    li.nav__item
                        a.nav__link(href='#') BLOG
                    li.nav__item
                        a.nav__link(href='#') CONTACT