include ../blocks/contact/_contact.pug
include ../blocks/contact-form/_contact-form.pug
include ../blocks/contact-info/_contact-info.pug
include ../blocks/footer/_footer.pug
include ../blocks/about/_about.pug
include ../blocks/blog/_blog.pug
include ../blocks/panel/_panel.pug
include ../blocks/btn/_btn.pug

<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        +about
        +blog
        +contact
        +footer

    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="./plugins/jquery.mask.min.js")
