mixin footer
    .footer
        .footer__wrapper
            .container
                .row.d-flex.justify-content-between
                    .col-4
                        p.footer__rights &#9400; 2015 Company. All right reserved.
                    .col-4
                        .logo
                        a.logo__link(href='#')
                            img.logo__img(href="")
                    .col-4
                        .footer__author Made with by Auskteez
                            a.footer__author-link-red(href='#') love
                        
                    
                            
