.footer {
    background-color: #262626;
    font-family: 'Raleway', sans-serif;

    &__wrapper {
        color: #b9b9b9;
        width: 100%;
        padding-bottom: 37px;
        padding-top: 37px;
    }
    
    &__rights {
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
    }
    
    &__author {
        font-size: 15px;
        font-weight: 300;
        display: flex;
        padding-top: 2px;        
    }

    &__author-link-red {
        color: #ff2b58;
        font-weight: 700;
        display: inline-block;
        margin: 0 0.3em;
        text-decoration: none;

    }
}

// .contact-footer__logo {
//     text-decoration: none;
//     font-family: 'Pacifico', cursive;
//     font-size: 25px;
//     font-weight: 400;
//     color: #b9b9b9;
//     display: flex;
//     justify-content: center;
// }