mixin footer
    .footer
        .footer__wrapper
            .container.container--lg 
                .row.d-flex.justify-content-between
                    .col-sm-4.order-sm-1.col-12.order-2
                        p.footer__rights &#9400; 2015 Company. All right reserved.
                    .col-sm-4.order-sm-2.col-12.order-1
                        svg.icons.icons--footer.footer__icon
                            use(xlink:href="#icon-logo")
                    .col-sm-4.order-sm-3.col-12.order-3
                        .footer__author Made with 
                            a.footer__author-link-red(href='#') love
                            | by Auskteez
                        
                    
                            
