mixin footer
    .footer
        .footer__wrapper
            .container
                .row.d-flex.justify-content-between
                    .col-sm-4.col-12
                        p.footer__rights.text-center &#9400; 2015 Company. All right reserved.
                    .col-sm-4.col-12
                    .col-sm-4.col-12
                        .footer__author Made with 
                            a.footer__author-link-red(href='#') love
                            | by Auskteez
                        
                    
                            
