.services {

    background-color: #70bfff;


    &__wrapper {
        padding-top: 179px;
        padding-bottom: 130px;
    }

    &__heading {
        color: #fff;
        font-size: 90px;
        font-weight: 700;
    }
}